@import "generic.css";

/**about as page css**/
/********************ABOUT US*******************************/

#about {
    padding-right: 120px;
    padding-left: 100px;
}

h1 {
    color: midnightblue;
    padding-top: 20px;
    font-size: 80px;
}

p {
    font-size: 20px;
    padding-top: 10px;
}

#final {
    font-weight: bold;
}

#final p:first-child {
    padding-right: 530px;

}

#final p:nth-child(2){
    padding-right: 780px;
}

#final p:last-child {
    padding-right: 830px;
}

