@import "generic.css";

p{
    font-size: 15px;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-family: Tahoma;
    text-align: center;
    margin: 20px auto;
}

#allHugim div {
    position: relative;
    display: inline-block;
    font-size: medium;
    margin: 20px;
    border: #0f4861 1px solid;
    padding: 50px 5px 0 5px;
    width: 180px;
    height: 180px;
    text-align: center;
}

#allHugim h2{
    position: absolute;
    padding: 5px;
    top: 3px;
    margin: 0 auto;
    font-size: 18px;
}

#allHugim img {
    width: 150px;
    height: 100px;
}

#chosedate{
    display: inline-block;
}

.signupButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:#44c767;
    width: 100%;
    height: 30px;
    color: white;
    font-size:17px;
    float: left;
    text-align: center;
    padding-top: 10px;
}
.signupButton:hover {
    background-color:#5ee08b;
}

#sliderphotos{
    position: relative;
    width: 80%;
    height: 270px;
    display: inline-block;
    overflow: hidden;
}

.hugSlide {
    display: block;
    width:100%;
    transition: all 1s ease-in-out;
}

#sliderphotos img{
    position: relative;
    top: -50px;
    width: 100%;
    height: 400px;
}

#sliderphotos label{
    position: absolute;
    background-color: rgba(250,250,250,0.6);
    font-size: 30px;
    top: 0;
    right: 0;
    padding: 15px;
    border-bottom-left-radius: 20px;
}

#navbarAllHobbies {
    overflow: hidden;
    background-color: #d7e2e8;
    display: block;
    text-align:center;
    width:20%;
    float: right;
    height:1200px;
}

#calendar{
    border: black 1px solid;
    display: block;
    width: 500px;
    height: 400px;
    margin: 2px 2px;
}

/* Style the links inside the navigation bar */
#navbarAllHobbies a {
    float: right;
    display: inline-block;
    color: #0C101A ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 25px;
    width: 100%;
}

/* Change the color of links on hover */
#navbarAllHobbies a:hover {
    background-color: #d0dbe1;
    color: black;
}

/* Add a color to the active/current link */
#navbarAllHobbies a.active {
    background-color: var(--main-logoTextColor);
    color: white;
}
