#calendar-wrap{
    position:absolute;
    left:50%;
    top:0;
    margin-left:-200px;
    width:40%;
    height:35%;
}
#calendar{
     height:45%;
     width:100%;
     box-sizing:border-box;
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none;
     font-family:Tahoma,'Helvetica Neue', Helvetica,sans-serif;
     font-size: 12px;
     background-color: snow;
     color: #0C101A;
     border:3px solid #0f4861;
     border-radius:23px
}

.calendar__head{
    min-width:100%;
    height:21%;
    text-align:center;
    padding:2px;
    box-sizing:border-box;
    cursor:default
}
.calendar__nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2% 2%
}
.calendar__head-text{
    font-size:18px}
.calendar__arrow{
    cursor:pointer
}
.calendar__head-days{
    width:100%;
    text-decoration:none
}
.calendar__head-days-item{
    position:relative
}
.calendar__head-days-item:after{
    content:'';
    display:block;
    position:absolute;
    left:100%;
    top:70%;
    margin-top:-10px;
    width:2px;
    height:20px;
    background-color:#00172d}
.calendar__head-days-item:last-child:after{
    display:none
}
.calendar__body{
    width:100%;
    height:79%;
    border-spacing:4px 3px;
    padding:3px 0;
    text-align:center
}
.calendar-cell{
    margin:50px;
    padding: 10px;
    border-radius:20%;
    cursor:pointer;
    transition:box-shadow .22s ease-in}
.calendar-cell:hover{
    box-shadow:0 2px 0 black,0 -2px 0 black,2px 0 0 black,-2px 0 0 black}
.calendar-cell-selected {
    border-radius: 9px;
    background: lightgreen;
    border-color: black;
}
.calendar-cell-gray{
    color:#4b5457;
    cursor:default}
.calendar-cell-gray:hover{
    box-shadow:none}
.calendar-cell-green{
    color: #2f6627;
}
.calendar-cell-today{
    background-color: #b6e3cd;
    border-color: black;
}
