@import "generic.css";

/*CSS SUBMIT PAGE*/
#submitPage {
    background-image: url("img/close-up-desk-flatlay-965119.jpg");
    padding-top: 100px;
    background-size: cover;
    height: 100%;
}

#newHugForm {
    border-radius: 30px 0 0 30px ;
    padding: 20px 80px;
    max-width: 800px;
    margin-bottom: 50px;
    box-shadow: 0 0 15px gray;
    background: rgba(255, 255, 255, 0.6);
}

#questions .symbol {
    display: inline-block;
    position: relative;
    top: 5px;
    right: 10px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
}

#questions input:first-of-type {
    height: 1.5em;
    border-radius: 6px;
    padding-right: 5px;
    margin: auto;
    width: 200px;
}

#questions textarea {
    resize: vertical;
}

#questions table {
    margin-bottom: 20px;
}

#questions table td {
    padding: 10px;
}

#questions table td label:first-of-type {
    position: relative;
    right: 40px;
    top: 8px;
}

#photoUpload {
    text-align: center;
}


#photoUpload .uploadFile {
    position: relative;
    right: 120px;
}

/*style tag checkboxes*/

#tagList input[type=checkbox]{
    display:none;
}

#tagList input[type=checkbox]+label {
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 0.2em;
    display: inline-block;
    background-color: white;
    cursor: pointer;
}

#tagList input[type=checkbox]+label:hover {
    background-color: lightgray;
}

#tagList input[type=checkbox] +label:before{
    content:"\2661"; /*heart*/
    color: var(--main-backgroundColor);
    padding-left: 5px;
}

#tagList input[type=checkbox]:checked +label:before{
    color: red;
}

#tagList input[type=checkbox]:checked +label{
    font-weight: bold;
    border: 1px solid black;
}

/*submit*/
#newHugForm .form-submit-btn {
    width: 60%;
    display: block;
    margin: 20px auto 20px auto;
    letter-spacing: 0.5em;
}

#prevBtn, #nextBtn {
    background-color: rgba(250,250,250,0.7);
    border-radius: 50%;
    border: 2px solid black;
    height: 45px;
    width: 45px;
    transition: all ease-in-out 1s;
}

#prevBtn:hover span:hover, #nextBtn span:hover {
    animation: wobble 0.5s infinite;
}

#nextBtn {
    float: left;
}

@keyframes wobble {
    50% {transform: translateX(-6px)}
    50% {transform: translateX(6px)}
}

/*************************************************************/
/*CSS PREVIEW PAGE*/
/*top strip*/

#topStrip {
    width: 100%;
    position: relative;
    display:block;
    background-color: black;
}

#topStrip .mainPhoto {
    display: block;
    margin: 0 auto;
    height:250px;
    min-width:70%;
}

#topStrip h1, h3 {
    display: inline;
}

#topStrip h1 {
    margin-right: 20px;
}


#topStrip h3 img {
    position: relative;
    border-radius: 50%;
    width:40px;
    top: 10px;
}

#topStrip .heading {
    position: absolute;
    display: block;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: aliceblue;
    opacity: 0.8;
}

#topStrip a {
    font-style: italic;
    font-weight: normal;
}

/*main content*/
#hugDetails {
    position: relative;
    padding: 20px 40px 0 0;
    max-width: 90%;
    display: block;
}

#date-time-place li {
    display: block;
    margin-bottom: 0.5em;
}

#date-time-place i {
    position: relative;
    top: 6px;
}

#map {
    float: left;
    height: 250px;
    width: 400px;
}

/*attending scrolling bar*/

#attending {
    display: block;
    text-align: center;
    margin: 20px 0;
}

#attending .scroll-section {
    margin-top: 25px;
}

#attending .scroll-item {
    height: 150px;
    width: 120px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
}

#attending .scroll-wrap {
    height: 170px;
    width: 750px;
}

#attending .scroll-wrap img {
    width: 70px;
    height: 75px;
    border-radius: 50%;
    margin:  10px auto;
}

#attending .scroll-section button {
    background-color: white;
    vertical-align: top;
    margin-top: 40px;
    padding: 0;
}

#attending .scroll-wrap p {
    margin: auto;
}

#right-nav-arrow, #left-nav-arrow {
    font-size: 80px;
    cursor: pointer;
}

/* sign up and cancel buttons*/

#description .switch-txt-btn  {
    display: inline-block;
}

#description .switch-txt-btn label {
    display: inline-block;
    background-color: lightgray;
    width: 100px;
    margin: 8px;
    text-align: center;
}

#description .switch-txt-btn label:hover {
    box-shadow: 1px 1px 3px black;
}

#description .switch-txt-btn label span {
    margin: 0 6px 0 6px;
}

#description .switch-txt-btn input {
    display: none;
}

#description #signup:checked + label {
    background-color: #81cd93;
}

#description #cancel:checked + label {
    background-color: coral;
}


/*************************************************/
/*INTRO PAGE*/

/*centering logo*/
#introHeader img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

#introHeader a {
    width: 35%;
    max-width: 350px;
    background-color: rgba(250,250,250,0.7);
    border: 1px solid black;
    display: block;
    margin: 25px auto;
    font-size: 22px;
}

#introHeader a:hover {
    background-color: white;
}

#introHeader .center-inpos {
    color: white;
    font-size: 25px;
    margin: 20px;
}

#introHeader #login-buttons {
    bottom: 0;
}

#vidBox {
    width: 100%;
    overflow: hidden;
    max-height: 475px;
    display: block;
    position: relative;
}


/****************************************/
/*USER PROFILE*/

#userProfilePage {
    background-color: var(--main-simpleBackground);
}

#userProfilePage aside {
    float: right;
    width: 220px;
    height: 100%;
    position: fixed;
}

#userOverview {
    text-align: center;
}

#userOverview .profilePhotoIcon {
    width: 150px;
    margin-top: 60px;
    border: 3px solid black;
}

#userProfilePage #sideNav a {
    display: block;
    padding: 10px;
    cursor: pointer;
}

#userProfilePage #sideNav a:hover  {
    background-color: #0d3042;
    color: white;
}

#userDetails {
    position: relative;
    display: inline-block;
    height: 100%;
    background-color: white;
    margin: 2% 5%;
    padding: 20px 30px;
    width: 60%;
    right: 200px;
}

#userDetails h1 {
    background-color: var(--main-logoTextColor);
    display: block;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

#userDetails h4 span {
    cursor: pointer;
    font-style: italic;
    margin-right: 10px;
    display: none;
}
#userDetails label, #userDetails input, #userDetails textarea {
    display: block;
    width: 85%;
    resize: vertical;
    padding-right: 10px;
    margin: 0 20px;
    font-size: 14px;
}

#userDetails label {
    margin-top: 10px;
}

#first-name-con, #last-name-con {
    display: inline-block;
    width: 45%;
}

#userDetails button[type="submit"] {
    margin: 20px 10px 20px 5%;
    font-size: 12px;
    background-color: #619c70;
    color: white;
    font-weight: normal;
    border: 1px solid #619c70;
}

#userDetails button[type="submit"]:hover {
    background-color: #5c8b66;
}

#userOverview #logout {
    background-color: rgba(250,250,250,0.7);
    font-weight: normal;
    font-size: 14px;
    margin: 10px;
}

#myHugim .hugImage {
    width: 150px;
}

#myHugim h4 {
    padding-right: 20px;
}
#myHugim li {
    display: inline-block;
    position: relative;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    overflow: hidden;
    height: 150px;
    transition: all ease-in-out 1s;
}

#myHugim li span {
    background-color: rgba(250,250,250,0.8);
    position: absolute;
    bottom: -35px;
    right: 0;
    padding: 3px;
    width: 100%;
    height: 50px;
}

#myHugim li img, #myHugim span {
    transition: all ease 1s;
}

#myHugim li img:hover {
    transform: scale(1.3);
}

#myHugim li img:hover + span {
    bottom: 0;
}

#myHugim li img:hover + span {
    bottom: 0;
}

.disabled {
    opacity: 0.5;
}
