@import "generic.css";

#signupPage,#contactUsPage {
    background-color: var(--main-simpleBackground);
}
#sign-up-form{
                       display: block;
    border-radius: 20px;
    width: 670px;
    margin: 40px auto;
    background-color: white;
    text-align: center;
    font-size: 20px;
}

#sign-up-form  h1 {
    padding-top: 30px;
}

#registration{
    padding: 40px;
    margin: auto;
    width: 80%;
}


#registration .form-submit-btn {
    width: 250px;
    display: block;
    letter-spacing: 0.3em;
    margin: 30px auto;

}
#registration input {
    border-radius: 6px;
    margin-bottom:15px;
}
#registration textarea {
    border: 2px solid lightgray;
    border-radius: 6px;
    margin: 5px auto;
    padding-right: 10px;
}

#registration input[type="text"],  #registration input[type="password"], #registration input[type="email"], #registration input[type="date"] {
    width: 200px;
}

#registration #gender input {
    width: 10px;
}

#registration #gender label {
    margin-left: 8px;
}

#registration tr {
    margin: 10px;
    display: block;
}

#registration td {
    display: inline-block;
    text-align: right;
    width: 200px;
    vertical-align: middle;
}

#profile-photo {
    width: 400px;
}